#settings {
    width: max(37.5vw, 370px);
    height: 425px;
    background: #ddd;
    margin: 5vh 0 0 30vw;
    border-radius: 9px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font: 500 14px Montserrat;
    box-shadow: -8px 8px 12px 0 rgba(0, 0, 0, 0.3), 12px -12px 16px rgba(255, 255, 255, 0.25);
}

#title {font: 700 28px Montserrat; text-align: center; color: black}

.line {text-align: center; margin-top: 10%; display: flex; flex-direction: column}

.line div {display: flex; justify-content: center; border-radius: 6px; margin-bottom: 15px}

.line div {background: white}

.line div:hover {background: #3eedcf}

.line div select {border: none; margin-left: 15px; margin-top: 18px; height: 30px; background: none;}

.line div select:hover {cursor: pointer}

.line div p {font: 500 20px Montserrat}

.line :is(select, option) {
    font: 500 20px Montserrat;
}

#create {
    width: 40%;
    height: 80px;
    border: none;
    border-radius: 8px;
    margin: 15px 0 0 30%;
    background: #3eedcf;
    font: 60 22px Montserrat;
    border-bottom: 5px solid #2ea692;
}

#create:hover {cursor: pointer; border-bottom: 3px solid #2ea692}

#game_id {
    width: 60% !important;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    font: 500 20px Montserrat;
    margin: 70px 0 0 20%;
    text-align: center;
    border-radius: 5px;
}

header {height: 100px}
