body {display: flex; flex-direction: column; margin: 0 !important; background: #e8ebea}

html {overflow: hidden}

a, div {color: #100404; text-decoration: none;}

header {
    height: 100px;
    padding-top: 22px;
    background-color: #ADFFF1;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    box-shadow: 1px 1px 10px #8e9190}

header a {
    font: 500 20px Montserrat;
    border-radius: 8px;
    margin-right: 30px;
    height: 38px;
    width: 110px;
    text-align: center;
    padding-top: 14px;
}

#login {background: #F9B4ED; border-bottom: 5px solid #805478}

#login:hover {border-bottom: 3px solid #805478; margin-top: 3px;}

#settings {
    width: max(40vw, 500px);
    height: max(30vw, 375px);
    background: white;
    margin: 60px 0 0 30vw;
    border-radius: 9px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 7px solid white;
    border-top-color: #BBBFBE;
    border-left-color: #ADFFF1;
    border-right-color: #F9B4ED;
    border-bottom-color: #100404;
    font: 500 14px Montserrat;
}

#title {font: 700 28px Montserrat; text-align: center;}

.line {text-align: center; margin-top: 10%; display: flex; flex-direction: column}

.line div {display: flex; justify-content: center; border-radius: 6px; margin-bottom: 15px}

.line div:nth-child(1) {background: #ADFFF1}

.line div:nth-child(2) {background: #F9B4ED}

.line div:nth-child(3) {background: #E98686}

.line div select {border: none; margin-left: 15px; margin-top: 18px; height: 30px; background: none;}

.line div p {font: 500 20px Roboto}

.line :is(select, option) {
    font: 500 20px Roboto;
}

svg {z-index: -1; position: absolute; top: 300px}
