#questions {
    display: flex;
    width: 80vw;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    margin-left: 10vw;
}

.question {
    width: 30vw;
    height: 25%;
    padding: 40px;
    font: 500 30px Montserrat;
    text-align: center;
    border-radius: 8px;
    margin-top: 40px;
}

#question_1 {background: #7920e6}
#question_1:hover {background: #5b18ad}
#question_2 {background: #a4e620}
#question_2:hover {background: #85ba1a}
#question_3 {background: #fc23f5}
#question_3:hover {background: #c41abf}
#question_4 {background: #0026ff}
#question_4:hover {background: #001ecc}

#leaderboard {display: none}