body {background: #3eedcf !important; display: flex; flex-direction: column}

#players {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 80px;
    box-sizing: border-box
}

.container {
    display: flex;
    margin: 0 15vw 40px 0;
    background: #4d3eed;
    height: 40px;
    border-radius: 10px;
    padding: 30px 20px 15px 40px
}

.container:nth-child(4n) {margin-right: 0 !important}

.container p {
    color: white;
    font: 500 20px Montserrat;
    margin: 1px 10px 0 0;
}

.container div {font: 600 30px Montserrat; cursor: pointer; color: white; margin-top: -4px}

#id {
    font: 600 37px Montserrat;
    color: #100404;
    text-align: center;
    margin: 5px 20vw 0 100px;
}

#pregame {display: flex; flex-direction: column}

#start {
    margin: 20px 50px 0 auto;
    height: 60px;
    width: 125px;
    border: none;
    border-bottom-color: #07ad39 !important;
    background: #00fc4c;
    font: 500 18px Roboto}


body {
    background: #3eedcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

#check {height: 200px; width: 200px; margin-top: 12vh}

#wait {
    font: 800 28px Montserrat;
    text-align: center;
    margin-top: 20px
}

#pregame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

#leave {
    background: #f53d3d;
    margin: 20px 30px 0 auto;
    height: 60px;
    width: 125px;
    border: none;
    font: 500 18px Montserrat;
    border-radius: 8px;
    border-bottom: 5px solid #ad2d2d;}

#leave:hover {border-bottom: 3px solid #ad2d2d;}

header {height: 100px}