body {background: #ADFFF1 !important;}

#players {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 80px;
    box-sizing: border-box
}

.container {
    display: flex;
    margin: 40px 15vw 0 0;
}

.container p {
    color: black;
    font: 500 18px Roboto;
    margin: 1px 10px 0 0;
}

.container div {font: 600 22px Roboto;}

#id {
    font: 600 37px Montserrat;
    color: #100404;
    text-align: center;
    margin: 5px 20vw 0 100px;
    }