body {background: #3eedcf !important; display: flex; flex-direction: column}

#players {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 80px;
    box-sizing: border-box
}

.container {
    display: flex;
    margin: 0 15vw 40px 0;
}

.container:nth-child(4n) {margin-right: 0 !important}

.container p {
    color: black;
    font: 500 18px Roboto;
    margin: 1px 10px 0 0;
}

.container div {font: 600 22px Roboto; cursor: pointer;}

#id {
    font: 600 37px Montserrat;
    color: #100404;
    text-align: center;
    margin: 5px 20vw 0 100px;
}

#pregame {display: flex; flex-direction: column}

#start {
    margin: 20px 50px 0 auto;
    height: 60px;
    width: 125px;
    border: none;
    border-bottom-color: #07ad39 !important;
    background: #00fc4c;
    font: 500 18px Roboto}