<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='host.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <title>All Wrong Answers.</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <meta name="description" content="Host a game of All Wrong Answers!">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="game, fun, answers, wrong, allwronganswers">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://allwronganswers.com">
        <meta property="og:title" content="All Wrong Answers">
        <meta property="og:description" content="Host a game of All Wrong Answers!">
        <meta name="description" content="Host a game of All Wrong Answers!">
    </head>

    <body>
    <script>
        async function create_game() {
            console.log("triggered")
            let id = await fetch(`http://localhost:5001/create?questions=${document.getElementById('questions').value}&time=${document.getElementById('time').value}&answers=${document.getElementById('answers').value}`)
            id = await id.json()
            console.log(id['id'])
            console.log(parseInt(id['id']))
            return location.replace(`/host?id=${id['id']}`)
        }
    </script>
        <header>
            <a href="/login" style="margin-right: -15px">Switch Account</a>
            <a href="/join" class="button">Join a Game</a>
        </header>
        <!--<svg id="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="white" fill-opacity="1" d="M0,128L34.3,144C68.6,160,137,192,206,197.3C274.3,203,343,181,411,160C480,139,549,117,617,101.3C685.7,85,754,75,823,85.3C891.4,96,960,128,1029,154.7C1097.1,181,1166,203,1234,208C1302.9,213,1371,203,1406,197.3L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>-->
        <form id="settings" onsubmit="create(); return false">
            <div id="title">
                Host a game of All Wrong Answers!
            </div>
            <div class="line">
                <div>
                    <p>Number of questions: </p>
                    <select id="questions">
                        <option id="5" value="5">5</option>
                        <option id="10" value="10" selected>10</option>
                        <option id="15" value="15">15</option>
                        <option id="20" value="20">20</option>
                        <option id="25" value="25">25</option>
                        <option id="30" value="30">30</option>
                        <option id="40" value="40">40</option>
                        <option id="50" value="50">50</option>
                    </select>
                </div>
                <div>
                    <p>Time per question: </p>
                    <select id="time">
                        <option value="5">5s</option>
                        <option value="10" selected>10s</option>
                        <option value="15">15s</option>
                        <option value="20">20s</option>
                        <option value="25">25s</option>
                        <option value="30">30s</option>
                        <option value="40">40s</option>
                        <option value="50">50s</option>
                    </select>
                </div>
                <div>
                    <p>Answers per question: </p>
                    <select id="answers">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <button type="button" id="create" onclick="create_game()">Create Game</button>
        </form>
        <img src="{{ url_for('static', filename='images/wave.svg') }}" id="wave">
    </body>

</html>