<!DOCTYPE html>
<html>
    <head>
        <title>Join a Game</title>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='host.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <meta name="description" content="Join a game of All Wrong Answers!">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="game, fun, answers, wrong, allwronganswers">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://allwronganswers.com">
        <meta property="og:title" content="All Wrong Answers">
        <meta property="og:description" content="Join a game of All Wrong Answers!">
        <meta name="description" content="Join a game of All Wrong Answers!">
    </head>
    <body>
        <header>
            <a href="/login" style="margin-right: -15px">Switch Account</a>
            <a href="/host" class="button">Host a Game</a>
        </header>
        <form id="settings" style="padding-top: 50px; height: 350px; min-height: 350px; margin-top: 70px;" onsubmit="location.replace(`/play?id=${document.getElementById('game_id').value}`); return false">
            <div id="title">Join a game of All Wrong Answers!</div>
            <input type="text" id="game_id" placeholder="Game ID">
            <button type="submit" id="create" style="margin-top: 60px; font-family: Montserrat">Join Game</button>
        </form>
        <img src="{{ url_for('static', filename='images/wave2.svg') }}" id="wave">
    </body>
</html>