<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <title>All Wrong Answers.</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <meta name="description" content="Log in to All Wrong Answers">
        <meta name=”robots” content="index, follow">
        <meta name="keywords" content="game, fun, answers, wrong, allwronganswers">
        <meta name="google-signin-client_id" content="493342637998-aj77p05tpoi8ke4d1nv8p8ed4pqnfv56.apps.googleusercontent.com">
        <script>setInterval(function() {Array.prototype.forEach.call(document.getElementsByTagName("span"), x => {if (x.id.toString().includes("connected") || x.id.toString().includes("not_signed")) {x.innerText = "Log In With Google"}})}, 1)</script>
    </head>
    <body>

        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

        <header>
            <p>Don't have an account?</p>
            <a href="/signup" class="button">Sign Up</a>
        </header>
        <form id="login" onsubmit="logIn(); return false">
            <p id="title">Welcome Back to All Wrong Answers!</p>
            <div data-onsuccess="onLogIn" onclick="loggedIn()" id="gsignin" class="g-signin2"></div>
            <div style="width: 100%; height: 10px; border-bottom: 2px solid white; text-align: center; opacity: 0.4; margin: 20px 0;">
                <span style="font-size: 20px; background-color: #ddd; padding: 0 4px;"> Or </span>
            </div>
            <input type="email" id="email" placeholder="Email address" required><br>
            <input id="password" placeholder="Password" type="password" required><br>
            <button id="submit" type="submit" class="button">Log In</button>
            <a href="/reset_password" id="reset">Forgot password?</a>
        </form>
        <img src="{{ url_for('static', filename='images/wave.svg') }}" id="wave">
        <div id="g_id_onload"
             data-client_id="493342637998-aj77p05tpoi8ke4d1nv8p8ed4pqnfv56.apps.googleusercontent.com"
             data-login_uri="http://localhost:5000/login"
             data-context="use">
        </div>
    </body>
    <script>
        let clicked = false
        function loggedIn() {clicked = true}
        function onLogIn(googleUser) {
            if (clicked) {
                location.replace(`/login_error?email=${googleUser.getBasicProfile().getEmail()}&redirect={{ redirect }}`)
            }
        }
        function logIn() {location.replace(`/login_error?email=${document.getElementById("email").value}&password=${document.getElementById("password").value}&redirect={{ redirect }}`)}
        function renderButton() {
        gapi.signin2.render('gsignin', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onLogIn,
          });
        }
    </script>

</html>