<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='play.js') }}"></script>
        <link href="{{ url_for('static', filename='play.css') }}" rel="stylesheet"/>
        <title>All Wrong Answers</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id="pregame">
            <header>
                    <a href="/login">Switch Account</a>
            </header>
            <button onclick="leave({{ id }}, {{ player_id }})" id="leave">Leave</button>
            <img src="{{ url_for('static', filename='images/check.gif') }}" id="check">
            <div id="wait">You're in the game! Please wait for the host to start.</div>
        </div>
    </body>
</html>