<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='play.js') }}"></script>
        <link href="{{ url_for('static', filename='play.css') }}" rel="stylesheet"/>
        <title>All Wrong Answers</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body >
        <header>
            <p id="game_id">{{ id }}</p>
            <p id="question">{{ question }}</p>
        </header>
        <div id="answers">
            <div id="answer_1" class="answer"></div>
            <div id="answer_2" class="answer"></div>
            <div id="answer_3" class="answer"></div>
            <div id="answer_4" class="answer"></div>
        </div>
        <div id="leaderboard">
            {% if host == "true" %}
                <button id="next" onclick="nextQuestion()">Next</button>
            {% endif %}
            <div id="scores"></div>
            <div id="chat"></div>
        </div>

        <div id="points"></div>
    </body>
</html>